<section class="education" id="education">
    <div class="education-container">
      <h2 class="education-title">Education</h2>
      <p class="education-description">Here is a brief overview of my educational background.</p>
      
      <div class="education-item">
        <h3 class="degree-title">Bachelor in Electronics and Communication Engineering</h3>
        <p class="institution">osmania University</p>
        <p class="duration">november 2021 - july 2024</p>
        <p class="description">Focused on core subjects of ECE computer networkin, digital electronics, cybersecurity etc.</p>
      </div>
  
      <div class="education-item">
        <h3 class="degree-title">Diploma in Bachelor in Electronics and Communication Engineering</h3>
        <p class="institution">Polytechnic </p>
        <p class="duration">june 2018 - May 2021</p>
        <p class="description">Specialized in analog electronics, network analysis, industrial electronics etc.</p>
      </div>
  
      <div class="education-item">
        <h3 class="degree-title">Certification in Web Development</h3>
        <p class="institution">SKILL DEVELOPMENT HUB</p>
        <p class="duration">september 2024 - january 2024</p>
        <p class="description">Learned front-end and back-end web development, including HTML, CSS, JavaScript, and Node.js.</p>
      </div>

      <div class="education-item">
        <h3 class="degree-title">Certification in Networking</h3>
        <p class="institution">PSF Professional Solidarity Forum</p>
        <p class="duration">august 2024 - december 2024</p>
        <p class="description">Learned hardware, Software, switches & routers configuration, VLANs, STP, VTP, OSI model, troubleshooting etc  .</p>
      </div>
    </div>
  </section>
  