<section class="skills" id="skills">
    <div class="skills-container">
      <h2 class="skills-title">Skills</h2>
      <p class="skills-description">Here are some of the skills I've acquired throughout my journey as a developer and network engineer.</p>
  
      <div class="skills-list">
        <!-- <div class="skill-item">
          <h3 class="skill-name">Programming Languages</h3>
          <ul class="skill-details">
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
            <li>C++</li>
            <li>PHP</li>
          </ul>
        </div> -->
  
        <div class="skill-item">
          <h3 class="skill-name">Web Development</h3>
          <ul class="skill-details">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Node.js</li>
            <li>Express.js</li>
          </ul>
        </div>
  
        <div class="skill-item">
          <h3 class="skill-name">Database Management</h3>
          <ul class="skill-details">
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>PostgreSQL</li>
          </ul>
        </div>
  
        <div class="skill-item">
          <h3 class="skill-name">Networking</h3>
          <ul class="skill-details">
            <li>Software</li>
            <li>Hardware</li>
            <li>Server</li>
            <li>Switches & Routers</li>
            <li>DNS, DHCP, TCP/IP, IPV4/IPV6 </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  