<!-- Main Application Wrapper -->
<div class="app-container">
    <!-- Navbar Component (navigation) -->
    <app-navbar></app-navbar>
  
    <!-- Hero Section Component -->
    <!-- <app-hero></app-hero> -->
  
    <!-- Personal Information Section -->
    <app-personal-information></app-personal-information>
  
    <!-- Skills Section -->
    <app-skills></app-skills>
  
    <!-- Projects Section -->
    <app-projects></app-projects>
  
    <!-- Education Section -->
    <app-education></app-education>
  
    <!-- Contact Section -->
    <app-contact></app-contact>
  
    <!-- Footer Component -->
    <app-footer></app-footer>
  </div>
  