/* Personal Information Section Styles */
.personal-information {
  padding: 10px 0px;
  background-color:  #55535a;
  text-align: center;
  width: auto;
  margin-top: 75px;
  background-image: url(info.png); height: fit-content; background-size:cover ;background-position: center;
  }
  
  .personal-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 40px;
    background-color:   #3c6351b8;
    border-radius: 60px;
  }
  
  .profile-picture {
    margin-bottom: 20px;
    background-color: rgb(211, 211, 211);
  }
  
  .profile-img {
    src: url(hadi.png);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #645753
  }
  
  .personal-info {
    max-width: 700px;
    background-color: rgba(211, 211, 211, 0.63);
    border-radius: 30px;
  }
  
  .name {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .job-title {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .bio {
    font-size: 1.1rem;
    color: #777;
    margin-bottom: 30px;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-link {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: #ff5722;
    transition: color 0.3s ease;
  }
  
  .social-link:hover {
    color: #e64a19;
  }
  
  .social-link.linkedin {
    color: #0077b5;
  }
  
  .social-link.github {
    color: #333;
  }
  
  .social-link.email {
    color: #d44638;
  }
  